* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar { 
    display: none; 
}


html{
    scroll-behavior:smooth;
    transition-duration: 2000;
}

body{
    background:#010511;
    font-family: 'Montserrat', sans-serif;
    margin:0;
}

h1{
    color:#ff99bb;
    padding-bottom:3rem;
    font-size: 2rem;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

hr{
    border: none;
    border-top: 1px dashed #909091;
    border-width:2px;
    height:1px;
    width:50%;
    margin: 30px auto;
}

.section__heading{
    text-decoration: underline;
}

.header{
    background:#01030c94;
    box-shadow: black;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    position:sticky;
    top:0;
    padding:32px 16px;
    vertical-align: middle;
    z-index:1;
}

.header__logo{
    color:rgba(208, 206, 206, 0.878) !important;
    margin: 0px 50px;
    font-size: 24px;
    transition-duration: .4s;
    text-decoration: none;
}

.header__logo:hover{
    color:white !important;
}

.navbar{
   margin: 0px 1rem;
   text-align:center;
}

.navbar__links{
    list-style-type: none;
    margin: 0;
    padding:0;
}

.navbar__link{
    display:inline-block;
    color:rgba(208, 206, 206, 0.878);
    margin: 0 20px;
    transition-duration: .4s;
    cursor: pointer;
}

.navbar__link:hover{
    color:white;
}

#intro{
    min-height: 42.5rem; 
    display:flex;
    flex-direction: column;
    justify-content: top;
}

.intro__heading{
    color: #453f5f;
    text-shadow:
        /* White glow */
        0 0 7px #453f5f,
        0 0 10px #453f5f,
        0 0 21px #453f5f,
        /* Green glow */
        0 0 42px #453f5f,
        0 0 82px #453f5f,
        0 0 92px #453f5f,
        0 0 102px #453f5f,
        0 0 151px #453f5f;
    font-size: 4rem;
    color:white;
    text-align: center;
    margin-top:15rem;
    margin-bottom:0px;
    padding-bottom:0;
    animation: fadeIn 1.5s ease-in-out;
    animation: flicker 1.5s infinite;    
}

.intro__description{
    text-align:center;
    animation: fadeIn 1.5s ease-in-out;
    color: #d7b9ff;
}



@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

@keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: .5;
    }
}

@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
        0 0 4px #453f5f,
        0 0 11px #453f5f,
        0 0 19px #453f5f,
        0 0 40px #453f5f,
        0 0 80px #453f5f,
        0 0 90px #453f5f,
        0 0 100px #453f5f,
        0 0 150px #453f5f;
    }
    20%, 24%, 55% {       
        text-shadow:
            0 0 2px #453f5f,
            0 0 5px #453f5f,
            0 0 10px #453f5f,
            0 0 20px #453f5f,
            0 0 40px #453f5f,
            0 0 45px #453f5f,
            0 0 50px #453f5f,
            0 0 75px #453f5f;
    }
}

#bio{
    color:white;
    text-align: center;
    margin: 0rem auto;
    padding:1rem;
    max-width:100%;
    min-height: 46rem;
}

.bio__container{
    margin:auto;
    width:50%;
}

#bio__img{
    width:13rem;
    border-radius: 50%;
    margin-bottom:2rem;
}

.bio__text{
    font-size:1.2rem;
}

#invisible-link--bio{
    color:transparent;
    position:absolute;
    top:43rem;
}

.bio__heading{
    margin-top:2rem;
}

.image--first{
    /* Set a specific height */
    min-height: 42.5rem; 
}

#skills{
    color:rgb(83, 83, 83);
    background:#d7dad8;
    padding:3rem;
    text-align: center;
    margin: 0px auto;
    max-width:100%;
    min-height: 46rem;
}

#skills__heading{
    color:#062C3A;
}

.skills__container{
    width:100%;
    display:flex;
    justify-content: space-around;
}

.skills__description{
    text-align: center;
    margin-bottom: 3rem;
    color:#062C3A;
}

.skills__section{
    display:flex;
    flex-direction: column;
}

.skills__subheading{
    margin-bottom:2rem;
    color:#062C3A;
}

.skill{
    width:4rem;
    border-radius: 4px;
    margin:1rem;
    transition-duration:.5s;

}

.skill:hover{
    filter:none;
}

#projects{
    color:white;
    margin: 0px auto;
    padding:3rem;
    max-width:50%;
    text-align: center;
    min-height: 52rem;
}

.projects__table{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;    
}

.projects__row{
    display:flex;
    justify-content:center;
    align-items: center;
}

.project:hover{
    background:#ff99bb7e;
}

.project:active{
    background:#be8dffaf;
}

.project{
    height:20rem;
    margin:1rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    transition-duration: .3s;
    padding:10px 20px;
    border-radius:10px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.project--center{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;   
}

.project__logo{
    width:60px;
    border-radius: 50%;
    margin:20px;
}

.project__title{
    width:100%;
    margin:2rem;
    text-align: center !important;
}

.project__description{
    width:300px;
}

#contact{
    color:white;
    text-align: center;
    margin: 0px auto;
    padding:3rem;
    max-width:50%;
    min-height: 45rem;
    display:flex;
    flex-direction:column;
    justify-content: content;
    align-items: center;    
    gap:3rem;
}  

#projects p,
#contact p{
    text-align: left;
    line-height:30px;
}


#email__button{
    padding:1rem;
    border:2px solid white;
    transition-duration: .5s;
}

#email__button:hover{
    padding:1rem 1.4rem;
    background:#be8dff62;
}

.footer{
    height:4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding:64px 16px;
    padding-top:16px;
    vertical-align: middle;
}

@media (max-width:40rem){
    .parallax-mirror{
        max-height: 20rem;
    }

    .header__logo{
        margin:0;
    }

    .navbar__links{
        display:flex;
    }

    .intro{
        height: 20%;
        max-height: 20rem;
        min-height: 20rem;
    }

    .intro__heading{
        font-size: 3rem;
        margin-top:70%;
    }

    .intro__description{
        font-size: 1.5rem;
    }

    .bio__container{
        width:100%;
    }

    #skills{
        padding-left:0;
        padding-right:0;
    }

    .skills__container{
        flex-direction: column;
        width:100%;
    }

    .skills__section{
        width:100%;
    }

    .skill{
        width:3rem;
    }
}